body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%2380e573' fill-opacity='0.52'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

.menu {
  padding: 20px 0px 0px 0px;
  background-color: #88b85a;
  font-family: "Bebas Neue", cursive;
  font-family: "Exo 2", sans-serif;
  font-size: 96;
  width: 300px;
  height: 500px;
  float: left;
}

li {
  list-style: none;
  margin: 50px 0 0 5px;
}

.banner {
  max-width: 1360px;
  width: 100%;
  position: relative;
  background: url("../ProyectoDesarrollo/5G/banner.png") no-repeat center center
    fixed;
}

.card {
  font-family: "Bebas Neue", cursive;
  font-family: "Exo 2", sans-serif;
  font-size: 96;
  width: auto;
  overflow: hidden;
}
